.first_section
    background-color: #e8e6e0
    display: flex
    flex-direction: column
    align-items: center
    img
        width: 100%
    .citation
        color: #7a8691
        width: 70%
        font-size: 30px
        display: flex
        flex-direction: column
        align-items: center
        justify-content: space-evenly
        height: 300px
        text-align: center
        @media screen and (min-width:$screen_xs) and (max-width:$screen_s)        
            height: 150px
        p
            @media screen and (min-width:$screen_xs) and (max-width:$screen_s)        
                font-size: 16px
                margin: 0
            @media screen and (min-width:$screen_s) and (max-width:$screen_m)        
                font-size: 20px
                margin: 0
            .programmers
                background-color: #26a2cc
                color: white
                padding: 2px
            .complexity
                color:#26a2cc
                font-weight: bold
            .simplicity
                font-weight: bold
