footer
    display: flex
    flex-direction: column
    justify-content: space-around
    align-items: center
    background-color: #3676bb
    .footer_clair
        display: flex
        flex-direction: column
        align-items: center
        color: white
        div
            width: 30%
            display: flex
            justify-content: space-between
            i
                color: #5e91c9
    .footer_dark
        background-color: #363b47
        width: 100%
        margin-top: 30px
        height: 40px
        display: flex
        justify-content: center
        align-items: center
        p
            color: white
            font-size: 10px
